@import "@/variables";
@import "@/mixins";

#signUpModal {
  background: rgba(34, 51, 59, 0.79);
  .modal-title {
    color: #22333b;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.36px;
  }
  .modal-header {
    padding-bottom: 0;
    padding-top: 40px;
  }
  .modal-content {
    border-radius: 20px;
    background: $primary;
    .photo-wrap {
      position: relative;
      width: 115px;
      height: 115px;
      border-radius: 50%;
      background: $secondary;
      margin-bottom: 35px;
			border: 2px solid $secondary;
      filter: drop-shadow(0px 0px 35px rgba(34, 51, 59, 0.4));
      > .icon {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        path {
          fill: #627984;
        }
      }
      .upload-btn {
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #485f6a;
        color: $secondary;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
        border: 2px solid $primary;
        overflow: hidden;
        label {
          cursor: pointer;
          background: #485f6a;
          transition: background 0.3s ease-in-out;
          &:hover {
            background: $secondary;
          }
        }
        input {
          display: none;
        }
        .icon {
          z-index: 2;
          width: 24px;
          height: 24px;
          pointer-events: none;
        }
      }
			img {
				object-fit: cover;
			}
    }
    .user-name {
      background: #d2c0ab;
      border: 0;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 0.28px;
      border-radius: 16px;
      &:focus {
        box-shadow: none;
      }
      &::placeholder {
        color: $primary;
      }
    }
    .start-btn {
      border-radius: 16px;
      height: 60px;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 0.28px;
			background: $secondary;
			border: 0;
			&:hover {
				background: #627984;
			}
			&:focus {
				box-shadow: none;
			}
    }
  }
	.recaptchaInfo {
		color: lighten($secondary, 30%);
		padding-top: 16px;
		line-height: 1.2;
		font-weight: 400;
		a {
			color: $secondary;
			text-decoration: none;
			transition: color 0.3s ease-in-out;
			&:hover {
				color: lighten($secondary, 30%);
			}
		}
	}
}
