@import "@/variables";
@import "@/mixins";

.header {
  background: $primary;
  height: 96px;
  @include media(575) {
    flex-direction: column;
  }
  .title {
    color: $secondary;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.28px;
    margin-bottom: 0;
    @include media(767) {
      font-size: 24px;
    }
  }
  .info {
		.user-name {
			color: $secondary;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.56px;
			margin-right: 14px;
      @include oneLineEllipsis;
      @include media(767) {
        font-size: 24px;
      }
    }
		.user-photo {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background: $secondary;
			flex-shrink: 0;
      @include media(767) {
        width: 36px;
        height: 36px;
      }
      .icon {
        width: 32px;
        height: 32px;
        @include media(767) {
          width: 26px;
          height: 26px;
        }
        path  {
          fill: $primary;
        }
      }
		}
  }
}
