@import '@/variables';
@import '@/mixins';

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;700&display=swap');

body {
    background-color: $primary;
    font-family: 'Jost', 'Noto Sans TC', sans-serif;
    padding-bottom: 45px;
    @include media(575) {
        padding-top: 8px;
    }
}

.copyright {
    font-size: 20px;
    font-weight: 500;
    @include media(575) {
        font-size: 16px;
    }
    a {
        color: $secondary;
        text-decoration: none;
        padding: 0 5px;
        &:hover {
            color: #54656C;
        }
    }
}

.grecaptcha-badge { display: none !important; }